@font-face {
  font-family: "EasyReading";
  src: url("fonts/EasyReading.ttf");
}

body {
  font-family: "EasyReading";
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}
