body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: linear-gradient(to right, beige, #eee);
    color: black;
    text-align: center;
    padding: 20px;
}

nav {
    background: linear-gradient(to right, beige, #eee);
    color: black;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

#section1 {
    background: linear-gradient(to right, beige, #eee);
}

#section2 {
    background: linear-gradient(to right, #eee, beige);
}

#section3 {
    background: linear-gradient(to right, beige, #eee);
}

#section4 {
    background: linear-gradient(to right, #eee, beige);
}

footer {
    background: linear-gradient(to right, beige, #eee);
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
